body{
  text-align: center;
}
/* navigation section starts here */
.navigation-section{
  background-color: #3590c4;
}
.navbar-brand{
  letter-spacing: 7px;
  font-family: 'Roboto Slab', serif;
  position: relative;
  left: 80px;
}
.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  position: relative;
  padding-left: 30px;
  font-weight: bold;
}

.login-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  padding-left: 30px;
  border-style: none;
  color: white;
  background-color: #D3E4CD;
}

/* TITLE */

.title{
  background-color:  #3590c4;
  padding: 50px 30px 50px 30px;
}
.moto{
  position: relative;
  left: 60px;
  font-size: 3.5rem;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
}
.carousel-control-prev-icon{
  position: relative;
  top: 100px;;
}
.carousel-control-next-icon{
  position: relative;
  top: 100px;;
}
#features{
  padding-top: 50px;
  text-align: center;
}
.feature-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  color: white;
}
.feature-desc{
  padding: 0 70px 0 70px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #D3E4CD;
}
.feature-btn{
  position: relative;
  margin-top: 20px;
}
.feature-img{
  width: 400px;
  height: 300px;
}
.about-section{
  text-align: center;
  padding: 50px 50px 100px 50px;
}
.about{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding-bottom: 30px;
}
.about-desc{
  position: relative;
  left: 40px;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  height: 250px;
  background-color: #344CB7;
  color: white;
  font-size: 1rem;
  top: 40px;
  border-radius: 20%;
  border-style: solid;
  padding: 20px 10px;
  margin: 0;
}
.feedback-section{
  background-color: #344CB7;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
}
.feedback-header{
  font-family: 'Montserrat', sans-serif;
  padding: 0 50px 30px 50px;
}
.feedback-sub{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}
.social-btn{
  position: relative;
  right: 20px;
  margin-left: 40px;
  border-radius: 15%;
  border-style: hidden;
  padding: 5px 10px 5px 10px;
}
.twitter{
  color: white;
  background-color: #84DFFF;
}
.twitter:hover{
  color: #84DFFF;
  background-color: white;
}
.mail{
  color: white;
  background-color: #FBD148;
}
.mail:hover{
  color: #FBD148;
  background-color: white;
}
.insta{
  color: white;
  background-color: #FF5F7E;
}
.insta:hover{
  color: #FF5F7E;
  background-color: white;
}
.footer{
  text-align: center;
  padding-top: 90px;
}
.footer-header{
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}
.footer-btn{
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}
.copyright{
  padding-top: 40px;
  font-size: 12px;
}
.registerDetails{
  border-style: dashed;
  border-color: red;
}
