{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EDEMO</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">

  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <!-- NAVUGATION -->
  <div class="navigation-section container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">EDEMO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create Poll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Active Poll</a>
          </li>
        </ul>
        <button class="login-btn" name="button">{{Username}}</button>
      </div>
    </nav>
  </div>

  <!-- TITLE -->
  <div class="title">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="moto">Amplifying <br> your <br>voice</h1>
      </div>
      <div class="col-lg-6">
        <div id="features" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="feature-img" src="{% static 'images/image1.png' %}" alt="">
              <h2 class="feature-text">Host Your Elections</h2>
              <p class="feature-desc">You can create your own poll to find your next leader or for making any choice.</p>

            </div>
            <div class="carousel-item">
              <img class="feature-img" src="{% static 'images/image2.png' %}" alt="">
              <h2 class="feature-text">Secure</h2>
              <p class="feature-desc">We are providing you with a secure interface, allows only verified or known users to vote.</p>

            </div>
            <div class="carousel-item">
              <img class="feature-img" src="{% static 'images/image3.png' %}" alt="">
              <h2 class="feature-text">Good for analysis</h2>
              <p class="feature-desc">You can use this to find interests of the people.</p>

            </div>
            <div class="carousel-item">
              <img src="{% static 'images/image4.png' %}" alt="">
              <h2 class="feature-text">Register on EDEMO now</h2>
              <button type="button" class="btn btn-secondary btn-lg feature-btn">Register</button>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#features" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#features" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="about-section">
    <h2 class="about">About Website</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">Welcome you to a portal where you can have fun, where you can also take important decisions, you can also use this portal for purpose of analysis and many more other things. </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">You can create your own polls, you can vote on public polls and all this is done in a very secure way.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">We are taking care of security of your data, your selections and also maintaining privacy of the comments that you make.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">Conducting elections on a booth is a good idea but it involves lot of man power and wealth. This website can be efficient for election purpose.</p>
      </div>
    </div>
  </div>

  <!-- FEEDBACK -->

  <div class="feedback-section">
    <h2 class="feedback-header">We will be improving your experience on the website, if you have been through any query, feel free to report</h2>
    <h3 class="feedback-sub">Here are our socials</h3>
    <button type="button" class="social-btn insta" name="button"><i class="fab fa-instagram"></i> Instagram</button>
    <button type="button" class="social-btn twitter" name="button"><i class="fab fa-twitter"></i> Twitter</button>
    <button type="button" class="social-btn mail" name="button"><i class="fas fa-envelope"></i> Gmail</button>
  </div>

  <!-- footer -->

  <div class="footer">
    <h3 class="footer-header">Get the mobile app now</h3>
    <button type="button" name="button" class="btn btn-dark footer-btn"><i class="fab fa-apple"></i> Download</button>
    <button type="button" name="button" class="btn btn-outline-dark footer-btn"><i class="fab fa-google-play"></i> Download</button>
    <p class="copyright"><i class="far fa-copyright"></i> Pratik Yadav 2021</p>
  </div>
</body>

</html>
